* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
    display: flex; 
    align-items: center;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);    color: #FFFFFF;
    padding: 20px;
    justify-content: space-between;


}

.header--logo {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 14px;
}

.memeForm {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    padding: 36px;
    gap: 17px;
}

.memeform--input1, .memeform--input2 {

   border: 1px solid #D5D4D8;
    border-radius: 5px;
    font-family: "Karla", sans-serif;
    text-indent: 5px;

}

.memeform--submit {
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    text-align: center;
    border-radius: 5px;

    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    color: #FFFFFF;
}

.memeImg {
    width: 300px;
    margin-left:35%;
}

.mainDiv {
    text-align: center;
}